body {
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px grey;
    width: 95%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}


.text-center {
    text-align: center;
    
}

/*overflow: hidden;*/

.bg-g {
    background-color: #285b35;
    padding: 8px;
}
header div a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

img[src="img/portugal.png"] {
    margin-left: 2px;
    margin-right: 2px;
    
}
img[src="img/facebook_20.png"] {
    margin-left: 2px;
    margin-right: 2px;
    
}
nav{
    margin-left: 30px;
}
 nav ul a{
    color: grey;
}
nav ul li:hover a[href="QUIENES SOMOS"]{
    color: #285b35;
}

 nav ul,li {
    padding: 0;
    margin: 0;
}
 nav ul li ul li {
    padding: 0;
    margin: 0;
}
 nav ul li {
    padding: 8px;
    text-decoration: none;
    display: inline;
    float: left;
    position: relative;
}
 nav ul li ul {
    display: none;
    position: absolute;
    margin-top: 8px;
    z-index: 1;
    width: 240px;
    background-color: white;
}
 nav ul li ul li {
    display: flex; 
    padding: 5px;
    width: 100%;
}
 nav ul li:hover ul {
    display: block;
   
}
nav ul li ul a{
    color: black; 
}
nav ul li ul li:hover {
    color: black;
   background-color: gray;
   
}
.fondo{
    background-image: url(../img/coviran-bustamante.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    overflow: hidden;
}
.fondo img{
 margin-left: 3000px;
 transition-delay: 1s;
 transition: margin-left 3s;
 transform: translateX(-50%);
 margin-top: 40px;
}
.fondo:hover img{
    transition: margin-left 1s;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;

}
.col-3{
    margin: 20px;
    width: 30%;
    box-shadow: 1px 1px 10px 1px grey;
    text-align: center;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.col-3 img{
   border-top-right-radius:20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
.col-3 h2{
 font-size: 21px;
}
.cristal {
    width: 100%;
    height: 100%;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.0)
}
.cristal:hover {
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0.9);
}
.bg-gc{
    background-color: #297b3c;
    padding: 20px;
}
.line-4{
    width: 23%;
    border-bottom:2px solid white ;
    padding-left: 10px;
    padding-bottom: 10px;
}
.line-4 a{
    font-size: 20px;
    text-decoration: none;
    color:white
}
.patrocinadores img{
align-items: center;
}
.patrocinadores p{
    padding-left: 20px;
    color:white
}
